.advantage {
  &__card {
    background-color: $color-white2;
  }

  &__picture {
    padding: 25px 100px;
    text-align: center;
  }

  &__description {
    background-color: $color-white1;
    padding-top: 30px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__content {
    text-align: left;
    color: $color-gray1;
    line-height: 1.71;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .advantage {
    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage {
    width: 354px;
  }
}
