.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-black;
  }

  &__accent {
    color: $color-blue;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 24px;
  }
}
