.page-header {
  border-bottom: 1px solid $border-color1;

  &__container {
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    &__links {
      display: flex;
    }

    &__icon {
      fill: currentColor;
      margin: 0 8px 3px 0;
      vertical-align: middle;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    &__container {
      height: 90px;
    }

    &__links {
      flex-direction: column;
      row-gap: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    &__container {
      height: 80px;
      justify-content: start;
    }

    &__links {
      margin-left: auto;
      column-gap: 30px;
    }
  }
}
