.page-footer {
  color: $color-white1;
  background-color: $color-dark-blue;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 60px 0;
  }

  &__logo,
  &__logo:hover,
  &__logo:focus {
    color: $color-white1;
  }

  &__address {
    text-align: center;
    font-style: normal;
    line-height: 1.71;
    font-weight: 400;
    margin-top: 30px;
  }

  &__heading {
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  &__social-media {
    margin: 0;

    .social-media__item {
      background-color: $bg-overlay2;

      .social-media__link {
        color: $color-white1;
      }

      &:hover,
      &:focus-within {
        background-color: $color-blue;
      }
    }
  }

  &__newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    .newsletter-form__email-input {
      background-color: transparent;
      border: 1px solid $bg-overlay7;
      border-radius: 4px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      font-size: 16px;
      line-height: 1.25;
      width: 290px;
      margin: 0;
      padding: 15px 16px;
    }

    .newsletter-form__email-input,
    .newsletter-form__email-input::placeholder {
      color: $bg-overlay8;
    }

    .newsletter-form__submit-button {
      color: $color-white1;
      background-color: $color-blue;
      box-shadow: $btn-shadow1;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.88;
      position: relative;
      width: 200px;
      padding: 10px 28px 10px 0;
    }

    .newsletter-form__send-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 24px;

      fill: $color-white1;
    }
  }
}

@media screen and (max-width: 1199px) {
  .page-footer {
    &__container {
      .wrapper {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .page-footer {
    &__newsletter-form {
      .newsletter-form__email-input {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      max-height: 463px;
    }

    &__social-media-wrapper {
      .page-footer__heading {
        margin-top: 8px;
      }
    }

    &__newsletter-form {
      .newsletter-form__email-input {
        width: 450px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    &__container {
      padding-top: 60px;
      padding-bottom: 60px;
      max-height: 252px;
      flex-wrap: wrap;
      align-items: start;
      column-gap: 75px;

      .wrapper {
        text-align: left;
      }
    }

    &__address {
      text-align: left;
      margin-top: 20px;
    }

    &__link {
      padding-top: 9px;
    }

    &__heading {
      margin: 10px 0;
    }

    &__social-media,
    &__newsletter-form {
      margin: 20px 0;
    }

    &__newsletter-form {
      flex-direction: row;
      column-gap: 12px;

      .newsletter-form__email-input {
        width: 358px;
      }

      .newsletter-form__submit-button {
        width: 200px;
      }
    }
  }
}
