.section {
  text-align: center;
  
  &__heading {
    color: $color-dark-gray1;
    font-size: 36px;
    margin-bottom: 30px;
  }

  &__box {
    gap: 30px;
  }

  &__card {
    background-color: $color-white1;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    &__heading {
      margin-bottom: 50px;
    }
  }
}
