.toggle-button {
  background-color: $color-white1;
  display: none;
  padding: 12px 8px;
  
  &__icon {
    fill: currentColor;
    vertical-align: middle;

    &:hover {
      color: $color-blue;
      background-color: $color-white1;
    }
  }

  &:hover {
    background-color: $color-white1;
    box-shadow: none;
  }
}

@media (max-width: 480px) {
  .toggle-button {
    display: inline;
  }
}
